# Server
PROTOCOL=http
HOST=localhost
PORT=8000


# Client
CLIENT_PROTOCOL=http
CLIENT_HOST=localhost
CLIENT_PORT=4000


# App DB
DB_IN_MEMORY=false
DB_PROTOCOL=redis
DB_HOST=127.0.0.1
DB_PORT=6379
DB_NAME=auth
DB_USER=
DB_PASS=


# Cookies
SESSION_COOKIE=ssid


# Gmail
GMAIL_USER=test@gmail.com
GMAIL_PASS=Q1234567890!


# JWT secrets
JWT_TOKEN_SECRET="Q1234567890!"